GridBackground {
    background-color: #202020;
    /*--grid-background-color: rgb(40, 40, 40);*/
    /*--line-color: rgba(193, 196, 192, 0.1);*/
    /*--thick-line-color: rgba(193, 196, 192, 0.1);*/
    /*--spacing: 15;*/
}

.extendedToolbarToggle.selected {
    background-color: rgba(37, 37, 37, 255);
}
